<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="css/admindash.css">

    <title>AdminHub</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />
</head>

<body>






    <%- include('include2/adminbase') %>


        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
        <!-- MDB -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />

        <style>
            #productCategory {
                width: 150px;
                /* Set a smaller width as per your preference */
                padding: 8px;
                /* Adjust padding for better spacing */
                font-size: 14px;
                /* Adjust font size for better readability */
                border: 1px solid #ccc;
                /* Add a border */
                border-radius: 5px;
                /* Add border-radius for rounded corners */
            }
        </style>

        <!-- CONTENT -->
        <section id="content">
            <div style="display: flex; justify-content: space-between; ">
                <form action="/add-products">
                    <button class="btn"  style="margin-left: 30px; background-color: #392539; color: white;" type="submit"><i class="fa-solid fa-plus"></i> add Product</button>
                </form>

                <form action="unlist/api">
                   
                    <button class="btn btn-danger" style="margin-right: 30px;"><i class="fa-solid fa-trash"></i> &nbsp;&nbsp;Unlisted</button>
                </form>
            </div>
            <!-- NAVBAR -->

            <!-- NAVBAR -->

            <!-- MAIN -->
            <main>


                <div>

                    <input type="text" name="name" placeholder="Search Here" id="name-search" style="width: 30%;
            padding: .6em 1em;
            margin: .5em 0;
            border: 1px solid gray;
            font-family: 'Barlow', sans-serif;
            font-size: 1em;
            border-radius: 10px;">
                    <i class="fa fa-search"></i>
                </div>

                <div class="table-data">
                    <div class="order">

                        <div class="head">
                            <h3>Product List</h3>
                            <i class='bx bx-search'></i>
                            <i class='bx bx-filter'></i>
                        </div>

                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th> No &nbsp;&nbsp;&nbsp;</th>
                                    <th>P Image</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>&nbsp;&nbsp;&nbsp;Actions</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <% for (let i=0; i <products.length; i++) { %>
                                    <div id="overlay"></div>
                                    <div id="popup">
                                      <div style="display: flex; width: 100%; justify-content: end;">
                                        <span style="font-size: 13px;" id="popup-close" onclick="closePopup()">✖ Close</span>
                                      </div>
                                      <p id="popup-message">Are You sure for Unlist <h6 class="pName"></h6> This  Product</p>
                                      <!-- Add login and register links or buttons here -->
                                      <a href="/admin-products">
                                        <button id="login-button">cancel</button>
                                      </a>
                                      <a class="deleteBtn">
                                        <button id="register-button">Ok</button>
                                      </a>
                                    </div>
                                    <tr style="border-bottom: .4px solid gray; cursor: pointer;">
                                        <td></td>
                                        <td style="color: blue;">
                                            <%=i+1%>
                                        </td>
                                        <td>
                                            <div style="width: auto; height: auto;">
                                            <img  style="border-radius: 0; transform: scale(.6); width: 60px; height: 80px; object-fit: contain;"
                                            src="primg/<%=products[i].prd_images[0] %>" />
                                        </div>
                                         </td>

                                        <td>
                                            <%=products[i].pname%>
                                        </td>
                                        <td style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 18px;">
                                            
                                            ₹<%=products[i].price-products[i].price*products[i].discount/100%>
                                        </td>

                                        <td>
                                            <div class="d-flex">
                                                <div class="tooltip-container flex-item" style="margin-right: 15px; margin-top: -1px;">
                                                    <a href="/updateProduct?id=<%=products[i]._id%>" >
                                                        <div>
                                                            <i class="fa-solid fa-pen"></i>
                                                        </div>
                                                        <span class="tooltip">Update</span>
                                                    </a>
                                                </div>
                                                
                                            
                                                <div class="tooltip-container flex-item" style="margin-right: 15px;">
                                                    <a href="add/images?id=<%=products[i]._id%>" >
                                                        <div>
                                                            <i class="fa-solid fa-images"></i>
                                                        </div>
                                                        <span class="tooltip" style="width: 100px;">Image Update</span>
                                                    </a>
                                                </div>
                                                
                                            
                                                <div class="tooltip-container" style="margin-top: -2px;">
                                                    <a href="#" class="flex-item" onclick="showPopup('<%=products[i]._id%>', '<%=products[i].pname %>')">
                                                        <div>
                                                            <i class="fa-solid fa-trash"></i>
                                                        </div>
                                                        <span class="tooltip">Delete</span>
                                                    </a>
                                                </div>
                                                
                                            </div>
                                            
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
<style>
    .tooltip-container {
    position: relative;
}

.tooltip {
    visibility: hidden;
    background-color:#ccc;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the element */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

</style>
            
            </main>
            <!-- MAIN -->
        </section>
        <!-- CONTENT -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="js/search.js"></script>
        <script src="js/adminbase.js"></script>

        <script>

                
            function showPopup(id,name) {
              document.getElementById('overlay').style.display = 'block';
              document.getElementById('popup').style.display = 'block';
              document.querySelector('.deleteBtn').setAttribute('href', `/api/delete/product?id=${id}`);
              document.querySelector('.pName').innerHTML = `${name}`;
              // Set the error message in the popup
            
            }
          
            function closePopup() {
              document.getElementById('overlay').style.display = 'none';
              document.getElementById('popup').style.display = 'none';
            }
            
        </script>
</body>

<style>
    #popup {
      border-radius: 6px;
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      background-color: #f8f8f8;
      border: 1px solid #ccc;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      max-width: 400px;
      width: 100%;
      text-align: center;
  }

  /* Styles for the overlay background */
  #overlay {
    display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 999;
  }
  
  /* Styles for the close button */
  #popup-close {
      cursor: pointer;
      margin-top: -15px;
      margin-right: -15px;

  }

  /* Styles for the login button */
  #login-button {
      cursor: pointer;
      margin-top: 20px;
      padding: 10px;
      background-color: #BF7DC1;
      color: white;
      border: none;
      border-radius: 5px;
  }
  #register-button{
    cursor: pointer;
      margin-top: 20px;
      padding: 10px;
      margin-left: 10px;
      background-color: #392539;
      color: white;
      border: none;
      border-radius: 5px;
  }
</style>


</html>