<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="css/admindash.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-..."
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

    <title>Admin Orders</title>
</head>

<body>

    <%- include('include2/adminbase') %>

        <!-- CONTENT -->
        <section id="content">
            <style>
                /* Style for the radio button */
                input[type="radio"] {
                    -webkit-appearance: none;
                    /* Remove default styles in Safari */
                    -moz-appearance: none;
                    /* Remove default styles in Firefox */
                    appearance: none;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 2px solid;
                    /* Border color for the unchecked state */
                    outline: none;
                    transition: border-color 0.3s;
                }

                /* Style for the radio button when checked */
                input[type="radio"]:checked {
                    color: #2ecc71;
                    /* Border color for the checked state */
                }

                /* Style for the label text next to the radio button */
                label {
                    display: inline-block;
                    margin-left: 8px;
                    color: #333;
                    /* Text color */
                }
            </style>
            <!-- NAVBAR -->

            <!-- MAIN -->
            <main>

                <div class="table-data">
                    <div class="order">
                        <div class="head">
                            <h3>Recent Orders</h3>
                            <i class='bx bx-search'></i>
                            <i class='bx bx-filter'></i>
                        </div>
                        <table id="myTable" class="display">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Products Count</th>
                                    <th>Date Order</th>
                                    <th>Total</th>
                                    <th>Status</th>
                                    <th>Edit Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i=0;i<orders.length;i++){ %>
                                    <tr>
                                        <td>
                                            <p>
                                                <%= orders[i].email%>
                                            </p>
                                        </td>
                                        <td>
                                            <%=orders[i].products.length %>
                                        </td>
                                        <% const utcTimestamp=orders[i].orderDate; %>
                                            <% const options={ timeZone: "Asia/Kolkata" }; %>
                                                <% const istDateTimeString=new
                                                    Date(utcTimestamp).toLocaleString("en-IN", options); %>
                                                    <td>
                                                        <%= istDateTimeString %>
                                                    </td>
                                                    <td style="font-size: 17px; font-weight: bold; font-family: sans-serif;">
                                                        <%= new Intl.NumberFormat('en-IN', { style: 'currency', currency: 'INR',maximumFractionDigits: 0 }).format(orders[i].totalAmount ) %>
                                                    </td>
                                                    <% if(orders[i].status=='pending' ){ %>
                                                        <td><span class="status pending">
                                                                <%=orders[i].status %>
                                                            </span></td>
                                                        <% }else if(orders[i].status=='Shipped' ){ %>
                                                            <td><span class="status pending">
                                                                    <%=orders[i].status %>
                                                                </span></td>
                                                            <% }else if(orders[i].status=='Delivered' ){ %>
                                                                <td><span class="status"
                                                                        style="background-color: green;">
                                                                        <%=orders[i].status %>
                                                                    </span></td>
                                                                <% }else if(orders[i].status=='Canceled' ){ %>
                                                                    <td><span class="status"
                                                                            style="background-color: lightcoral;">
                                                                            <%=orders[i].status %>
                                                                        </span></td>
                                                                    <% }else if(orders[i].status=='Returned' ){ %>
                                                                        <td><span class="status"
                                                                                style="background-color: brown;">
                                                                                <%=orders[i].status %>
                                                                            </span></td>
                                                                        <% } %>
                                                                            <td>
                                                                                <% if(orders[i].status!='Canceled') {%>
                                                                                <i class="fa-regular fa-pen-to-square"
                                                                                    data-toggle="modal"
                                                                                    data-target="#exampleModal<%= orders[i]._id %>"></i>
                                                                                    <% } %>
                                                                                <!-- Modal -->
                                                                                <div class="modal"
                                                                                    id="exampleModal<%= orders[i]._id %>"
                                                                                    tabindex="-1" role="dialog"
                                                                                    aria-labelledby="exampleModalLabel"
                                                                                    aria-hidden="true">
                                                                                    <div class="modal-dialog"
                                                                                        role="document">
                                                                                        <div class="modal-content">
                                                                                            <div class="modal-header">
                                                                                                <h5 class="modal-title"
                                                                                                    id="exampleModalLabel">
                                                                                                    Choose an Option
                                                                                                </h5>
                                                                                                <button type="button"
                                                                                                    class="close"
                                                                                                    data-dismiss="modal"
                                                                                                    aria-label="Close">
                                                                                                    <span
                                                                                                        aria-hidden="true">&times;</span>
                                                                                                </button>
                                                                                            </div>
                                                                                            <div class="modal-body">
                                                                                                <form
                                                                                                    action="/change/status?id=<%=orders[i]._id %>"
                                                                                                    method="post">
                                                                                                    <div
                                                                                                        class="form-check">
                                                                                                        <input
                                                                                                            class="form-check-input"
                                                                                                            type="radio"
                                                                                                            name="exampleRadios"
                                                                                                            id="option1"
                                                                                                            value="pending"
                                                                                                            <%=orders[i].status==='pending'
                                                                                                            ? 'checked'
                                                                                                            : '' %>>
                                                                                                        <label
                                                                                                            class="form-check-label"
                                                                                                            for="option1">
                                                                                                            Pending
                                                                                                        </label>
                                                                                                    </div>
                                                                                                    <div
                                                                                                    class="form-check">
                                                                                                    <input
                                                                                                        class="form-check-input"
                                                                                                        type="radio"
                                                                                                        name="exampleRadios"
                                                                                                        id="option2"
                                                                                                        value="Shipped"
                                                                                                        <%=orders[i].status==='Shipped'
                                                                                                        ? 'checked'
                                                                                                        : '' %>>
                                                                                                    <label
                                                                                                        class="form-check-label"
                                                                                                        for="option2">
                                                                                                        Shipped
                                                                                                    </label>
                                                                                                </div>
                                                                                                    <div
                                                                                                        class="form-check">
                                                                                                        <input
                                                                                                            class="form-check-input"
                                                                                                            type="radio"
                                                                                                            name="exampleRadios"
                                                                                                            id="option3"
                                                                                                            value="Delivered"
                                                                                                            <%=orders[i].status==='Delivered'
                                                                                                            ? 'checked'
                                                                                                            : '' %>>
                                                                                                        <label
                                                                                                            class="form-check-label"
                                                                                                            for="option3">
                                                                                                            Delivered
                                                                                                        </label>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-check">
                                                                                                        <input
                                                                                                            class="form-check-input"
                                                                                                            type="radio"
                                                                                                            name="exampleRadios"
                                                                                                            id="option4"
                                                                                                            value="Canceled"
                                                                                                            <%=orders[i].status==='Canceled'
                                                                                                            ? 'checked'
                                                                                                            : '' %>>
                                                                                                        <label
                                                                                                            class="form-check-label"
                                                                                                            for="option4">
                                                                                                            Canceled
                                                                                                        </label>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="form-check">
                                                                                                        <input
                                                                                                            class="form-check-input"
                                                                                                            type="radio"
                                                                                                            name="exampleRadios"
                                                                                                            id="option5"
                                                                                                            value="Returned"
                                                                                                            <%=orders[i].status==='Returned'
                                                                                                            ? 'checked'
                                                                                                            : '' %>>
                                                                                                        <label
                                                                                                            class="form-check-label"
                                                                                                            for="option5">
                                                                                                            Returned
                                                                                                        </label>
                                                                                                    </div>
                                                                                                    <div
                                                                                                        class="modal-footer">
                                                                                                        <button
                                                                                                            type="button"
                                                                                                            class="btn btn-secondary"
                                                                                                            data-dismiss="modal">Close</button>
                                                                                                        <button
                                                                                                            type="submit"
                                                                                                            class="btn btn-primary">Save
                                                                                                            changes</button>
                                                                                                    </div>
                                                                                                </form>

                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <button type="button" onclick="goOrderes('<%=orders[i]._id%>')" class="btn btn-outline-primary"><Details></Details></button>
                                                                            </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>

            </main>
            <!-- MAIN -->
        </section>
        <!-- CONTENT -->

        <!-- Bootstrap JS and Popper.js -->
        <script>
            $(document).ready(function () {
                $('#myTable').DataTable();
            });

            function goOrderes(id){
                window.location.href=`/admin/individualOrder?id=${id}`
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="js/adminbase.js"></script>
</body>

</html>