<link rel="stylesheet" href="css/admindash.css">



<%- include('include2/adminbase') %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />







    <div class="container">
		<h2>Users</h2>

		<!-- Add Category Button -->
		<!-- <div style="display: flex; justify-content: space-between;">
			<a href="#">
				<button type="button" style="background-color: #BF7DC1; color: white;" class="btn btn-add-category" data-bs-toggle="modal"
					data-bs-target="#addCategoryModal">
                    <i class="fa-solid fa-plus"></i>
					Add Coupens
				</button>
			</a>
			<a href="#">
				<button style="background-color: #392539; color: white;" class="btn">
					Expaired Coupens
				</button>
			</a>
            
		</div> -->

        <style>
            .container {
                max-width: 1200px;
                /* Increase the max-width */
                margin-top: 50px;
                padding-right: 70px;
                /* Remove right padding */
                margin-right: 0;
                /* Remove right margin */
            }
    
            h2 {
                color: #392539;
                margin-bottom: 30px;
            }
    
            .btn-add-category {
                margin-bottom: 20px;
            }
    
            .table {
                background-color: #fff;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                width: calc(100% + 10px);
                /* Set the table width to 100% + 10px for a small margin */
                margin-right: -5px;
                /* Adjust margin-right to half of the added width */
            }
    
            .table th,
            .table td {
                text-align: center;
            }
    
            .table th {
                background-color: #392539;
                color: #fff;
            }
    
            .table tbody tr:hover {
                background-color: #f5f5f5;
            }
        </style>

		<!-- Category Table -->
		<table class="table">
            <thead>
                <tr>
                    <th> No &nbsp;&nbsp;&nbsp;</th>
                    <th>Username</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i=0; i < users.length; i++) { %>
                    <tr style="border-bottom: .4px solid gray; cursor: pointer;"
                        onclick="userDetails('<%=users[i]._id%>')">
       
                        <th style="color: #BF7DC1;">
                            <%=i+1%>
                        </th>
                        <td>
                            <%=users[i].username %>
                        </td>
                        <td>
                            <%=users[i].mobile%>
                        </td>
                        <td>
                            <%=users[i].email%>
                        </td>
                        <td>
                            <% if(users[i].status=='Active' ){ %>
                                <button class="btn btn-success" style="width: 100px;">
                                    <%=users[i].status %>
                                </button>
                                <% }else{ %>
                                    <button class="btn" style="width: 100px; border: 2px solid gray;">
                                        <%=users[i].status %>
                                    </button>
                                    <% } %>
                        </td>

                        <% if(users[i].block=="true" ){ %>
                            <td><a href="/api/block/?email=<%=users[i].email%>"><button type="button"
                                        style="width: 100px;" class="btn btn-danger">Unblock</button></a>
                            </td>
                            <% }else{ %>
                                <td><a href="/api/block/?email=<%=users[i].email%>"><button type="button"
                                            style="width: 100px;" class="btn btn-success">Block</button></a>
                                </td>
                                <% }%>
                    </tr>
                    <% } %>
            </tbody>
		</table>
	</div>

    <!-- CONTENT -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/search.js"></script>
    <script src="js/adminbase.js"></script>

    <script>
        function userDetails(id) {
            const userId = `/user-details?id=${id}`
            window.location.href = userId;
        }   
    </script>
    </body>

    </html>