<!-- Add these lines to your HTML -->
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" type="image/png" href="img/megacartFavicon.png">
<title>MegaCart Home.net</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Itim&family=Jockey+One&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>

<style>
 #preloader{
            background: white url(img/load.gif) no-repeat  center;
            background-size: 15%;
            height: 100vh;
            width: 100%;
            position: fixed;
            z-index:100;
            }
</style>
</head>


<body>
  <div id="preloader"></div>
  <!--Main Navigation-->
  <header>
    <!-- Jumbotron -->
    <div class="p-2 text-center" style="background-color: #392539 !important;">

      <div class="container-fluid">
        <div class="row gy-3">
          <!-- Left elements -->
          <div class="col-lg-2 col-sm-4 col-4 ml">
            <a href="/" class="float-md-none">
            <img style="height: 30px;  margin-top: 13px;" src="img/MegaCart Logo.png" alt="">
            </a>
          </div>
          <!-- Left elements -->

          <!-- Center elements -->
          <div class="order-lg-last col-lg-5 col-sm-8 col-8">
            <div class="d-flex float-end">
              <% if(userAuth){ %>
                <a href="/userDetails" class="me-1 py-1 px-3 nav-link" style="color: #FFF;"> <i
                    class="fas fa-user-alt m-1 me-md-2"></i>
                  <p class="d-none d-md-block mb-0">Account</p>
                </a>
                <a href="/wishlist" class="me-1  py-1 px-3 nav-link" style="color:#FFF;"> <i
                  class="fas fa-heart m-1 me-md-2"></i>
                <p class="d-none d-md-block mb-0">Wishlist</p>
              </a>
              <a href="/cart" class=" py-1 px-3 nav-link" style="color: #FFF;"> <i
                class="fas fa-shopping-cart m-1 me-md-2 "></i>
              <p class="d-none d-md-block mb-0">My cart</p>
            </a>
                <% }else{%>
                  <a  href="/login" class="me-1  py-1 px-3 nav-link" style="color: #FFF;"> <i
                      class="fas fa-user-alt m-1 me-md-2"></i>
                    <p class="d-none d-md-block mb-0">Login</p>
                  </a>
                  <a onclick="showPopup()" class="me-1  py-1 px-3 nav-link" style="color:#FFF; cursor: pointer;"> <i
                    class="fas fa-heart m-1 me-md-2"></i>
                  <p class="d-none d-md-block mb-0">Wishlist</p>
                </a>
                  <a onclick="showPopup()" class=" py-1 px-3 nav-link" style="color: #FFF; cursor: pointer;"> <i
                    class="fas fa-shopping-cart m-1 me-md-2 "></i>
                  <p class="d-none d-md-block mb-0">My cart</p>
                </a>

                  <% } %>
            </div>
          </div>
          <!-- Center elements -->

          <!-- Right elements -->
          <div class="col-lg-5 mt-md-4 col-md-12 col-12">
            <form action="/our-store" method="get">
            <div class="input-group  float-center">
              <div class="form-outline bg-white" style="border-radius: 5px;">
                <input type="search" value="<%= searchQuery %>" id="form1" name="search" class="form-control" />
                <label class="form-label" for="form1">Search</label>
              </div>
              <button type="submit" class="btn btn-white shadow-0" style="background-color: #BF7DC1 ;">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
          </div>
          <!-- Right elements -->
        </div>
      </div>
    </div>
    <!-- Jumbotron -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white"  style="background-color: #756275 !important; font-size: 12px;">
      <!-- Container wrapper -->
      <div class="container justify-content-center justify-content-md-between">
        <!-- Toggle button -->
        <button class="navbar-toggler  py-2 text-white" type="button" data-mdb-toggle="collapse"
          data-mdb-target="#navbarLeftAlignExample" aria-controls="navbarLeftAlignExample" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- Navbar dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                data-mdb-toggle="dropdown" aria-expanded="false">
                SHOW CATEGORIES
              </a>
              <!-- Dropdown menu -->
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
                <% for(let i=0;i<catData.length;i++){ %>
                <li>
                  <a class="dropdown-item" style="background-color: #756275;" href="/our-store?search=<%= searchQuery %>&catFilter=<%= catData[i].name %>"><%=catData[i].name  %></a>
                </li>
                <% } %>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/our-store">OUR STORE</a>
            </li>

          </ul>
          <!-- Left links -->
        </div>
      </div>
      <!-- Container wrapper -->
    </nav>

    <!-- Navbar -->
  </header>

  <div class="main">
    <div id="offerBanner" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000" data-bs-wrap="true">
      <div class="carousel-inner">
        <% banners.forEach((banners, index) => { %>
          <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
            <a href="#">
              <img src="primg/<%= banners.image%>" class="d-block img-fluid w-100" alt="Image <%= index + 1 %>" style="aspect-ratio: 12/4 ;">
              <div class="carousel-caption d-none d-md-block">
                <!-- Add your text here -->
                <h5>Banner Title <%= index + 1 %></h5>
                <p>Some description or additional text</p>
              </div>
            </a>
          </div>
        <% }) %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#offerBanner" data-bs-slide="prev">
        <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#offerBanner" data-bs-slide="next">
        <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
   
    
    
    <main>

      <section>
        <div class="container my-5" id="cr-fluid">
          <header class="mb-5">
            <h3>New products</h3>
          </header>

            <div class="row">
              <% for(let i=0;i<products.length&&i<8;i++) { %>
                <% if(products[i].stock>0){ %>
                <div class="col-lg-3 col-md-6 col-sm-6 d-flex" style="cursor: pointer; margin-bottom: 30px;" onclick="singlePrd('<%=products[i]._id%>')">

                  <div class="card w-100 my-2" style="box-shadow: 0 10px 36px rgba(0, 0, 0, 0.24);">
                    <div style="width: 100%; display: flex; justify-content: end;">
                        <p
                        style="position: absolute; text-align: end;margin-right: 10px; margin-top: 10px; font-size: 25px;">
                        <% for(let j=0;j<wishlists.length;j++){ %>  
                        <% if(wishlists[j]==products[i]._id){ %>   
                        <a href="/wish/api/home?email=<%=userAuth%>&&id=<%=products[i]._id  %>"><i style="color: red;" class="fa-solid fa-heart"></i></a></p>                  
                        <% } %>  
                        <% } %>
                    </div>
                    <div style="border: 50px white; width: 100%; display: flex; justify-content: center;">
                      <img src="primg/<%=products[i].prd_images[0]%>"
                        style=" aspect-ratio: 1 / 1; width: 190px; margin-top:30px;margin-bottom: 15px; height: 210px; object-fit: contain;"
                        class="card-img-top" />
                    </div>
                    <% var shortPname=products[i].pname.slice(0, 25); %>
                      <p style="margin-left: 15px; margin-bottom: -18px; opacity: .5;">Sponsered</p>
                      <div class="card-body d-flex flex-column">
                        <h6 class="card-text" style="font-size: 18px; margin-left: -8px;">
                          <%=shortPname %>..
                        </h6>
                        <% var shortdec=products[i].description.slice(0, 32); %>
                        <p class="card-text" style="margin-left: -8px; opacity: .7; margin-bottom: 6px;">
                          <%=shortdec %>..
                        </p>
                        <h1>
                          <% var discount = products[i].discount %>
                          <% var Odiscount = products[i].price * discount / 100 %>
                          <% var showPrice= products[i].price-Odiscount %>
                          <p class="card-text" style="margin-left: -8px; font-size: 23px;"><%= new Intl.NumberFormat('en-IN', { style: 'currency', currency: 'INR',maximumFractionDigits: 0 }).format(Math.floor(showPrice)) %>
                              <span
                                style="font-size: 15px; text-decoration: line-through; font-weight: bolder; opacity: .7;"><%= new Intl.NumberFormat('en-IN', { style: 'currency', currency: 'INR',maximumFractionDigits: 0 }).format(Math.floor(products[i].price)) %></span>
                          </p>
                        </h1>
                        <p class="card-text" style="opacity: .8;margin-left: -8px; margin-bottom: -18;">Free Delivery
                        </p>
                        <div
                          style="width: 100%;  display: flex; justify-content: end; height: aute; margin-bottom: -35; text-align: center;">
                          <p
                            style="margin-top: -10px; cursor: pointer;  font-family: 'Itim', cursive; font-size: 20px; margin-right: -12px; font-weight: 700; ">
                            M<span
                              style="font-family: 'Jockey One', sans-serif; color: green; font-weight: 400; font-size: 15px;">Assured</span>
                          </p>
                        </div>
                      </div>
                  </div>
                </div>
                <% } %>
                <% } %>
            </div>
            <div id="overlay"></div>
            <div id="popup">
              <div style="display: flex; width: 100%; justify-content: end;">
                <span style="font-size: 13px;" id="popup-close" onclick="closePopup()">✖ Close</span>
              </div>
              <p id="popup-message">Please login or register</p>
              <!-- Add login and register links or buttons here -->
              <a href="/login">
                <button id="login-button">Login</button>
              </a>
              <a href="/signup">
                <button id="register-button">Register</button>
              </a>
            </div>

          </div>



          <script>
            window.addEventListener("resize", () => {
               const id = document.getElementById("cr-fluid");
         
               if (window.matchMedia("(max-width: 767px)").matches) {
                  id.classList.remove("container-md");
                  id.classList.add("container-lg");
               } else {
                  id.classList.remove("container-lg");
                  id.classList.add("container-md");
               }
            });
         </script>
         



          <script>
        function singlePrd(prId) {
        console.log('Sending request with prId:', prId);
        fetch('/setSession', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ prId }),
        })
        .then(() => {
          const productId = '/single/prd';
          window.location.href = productId;
        })
        .catch(error => {
          console.error('Error setting session:', error);
          // Handle the error as needed
        });
      }

            function showPopup() {
              document.getElementById('overlay').style.display = 'block';
              document.getElementById('popup').style.display = 'block';
              // Set the error message in the popup
            
            }
          
            function closePopup() {
              document.getElementById('overlay').style.display = 'none';
              document.getElementById('popup').style.display = 'none';
            }

            function cororsal(){
              document.getElementById("kdjfwdwi").click()
            }
            setInterval(() => {
              cororsal()
            }, 5000);

        var loader=document.getElementById("preloader");
        window.addEventListener("load",function(){
          loader.style.display="none"
        })
      

            
          </script>




        </div>
  </div>
  </section>




  </main>

  </div>
  
  <script>
    if('<%=modal%>'){
      const Toast = Swal.mixin({
      toast: true,
      position: "top-end",
      showConfirmButton: false,
      timer: 2000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.onmouseenter = Swal.stopTimer;
        toast.onmouseleave = Swal.resumeTimer;
      }
    });
    Toast.fire({
      icon: "success",
      title: "Signed in successfully"
    });
    }

  </script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>



  <%- include('include/footer') %>



    <style>
      body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
      
          background: #cd9cf2;
          background: -webkit-radial-gradient(center, ellipse cover, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1));
          background: radial-gradient(ellipse at center,rgba(246, 243, 255, 1),rgb(207, 176, 231)); 
          
        
      }
      
      #popup {
      border-radius: 6px;
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      background-color: #f8f8f8;
      border: 1px solid #ccc;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      max-width: 400px;
      width: 100%;
      text-align: center;
  }

  /* Styles for the overlay background */
  #overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 999;
  }

  /* Styles for the close button */
  #popup-close {
      cursor: pointer;
      margin-top: -15px;
      margin-right: -15px;

  }

  /* Styles for the login button */
  #login-button {
      cursor: pointer;
      margin-top: 20px;
      padding: 10px;
      background-color: #BF7DC1;
      color: white;
      border: none;
      border-radius: 5px;
  }
  #register-button{
    cursor: pointer;
      margin-top: 20px;
      padding: 10px;
      margin-left: 10px;
      background-color: #392539;
      color: white;
      border: none;
      border-radius: 5px;
  }
  /* @media (max-width:333px) {
    .container-fluid {
    width: 100%; 
    padding: 10px;

  } */

    
  /* } */
    </style>