<link rel="icon" type="image/png" href="/img/megacartFavicon.png">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

<!-- MDB -->
<title>MegaCart our-store.net</title>
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />
<link rel="icon" type="image/png" href="../assets/img/Screenshot 2023-11-05 095552.png">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Itim&family=Jockey+One&display=swap" rel="stylesheet">
<style>
   #preloader{
            background: white url(img/load.gif) no-repeat  center;
            background-size: 15%;
            height: 100vh;
            width: 100%;
            position: fixed;
            z-index:100;
            }
</style>




<header>
    <!-- Jumbotron -->
    <div class="p-2 text-center" style="background-color: #392539 !important;">
  
      <div class="container-fluid">
        <div class="row gy-3">
          <!-- Left elements -->
          <div class="col-lg-2 col-sm-4 col-4">
            <a href="/" class="float-md-none">
              <img style="height: 30px;  margin-top: 13px;" src="img/MegaCart Logo.png" alt="">
              </a>
          </div>
          <!-- Left elements -->
  
          <!-- Center elements -->
          <div class="order-lg-last col-lg-5 col-sm-8 col-8">
            <div class="d-flex float-end">
              <% if(email){ %>
                <a href="/userDetails" class="me-1 py-1 px-3 nav-link" style="color: #FFF;"> <i
                    class="fas fa-user-alt m-1 me-md-2"></i>
                  <p class="d-none d-md-block mb-0">Account</p>
                </a>
                <a href="/wishlist" class="me-1  py-1 px-3 nav-link" style="color:#FFF;"> <i
                  class="fas fa-heart m-1 me-md-2"></i>
                <p class="d-none d-md-block mb-0">Wishlist</p>
              </a>
              <a href="/cart" class=" py-1 px-3 nav-link" style="color: #FFF;"> <i
                class="fas fa-shopping-cart m-1 me-md-2 "></i>
              <p class="d-none d-md-block mb-0">My cart</p>
            </a>
                <% }else{%>
                  <a  href="/login" class="me-1  py-1 px-3 nav-link" style="color: #FFF;"> <i
                      class="fas fa-user-alt m-1 me-md-2"></i>
                    <p class="d-none d-md-block mb-0">Login</p>
                  </a>
                  <a onclick="showPopup()" class="me-1  py-1 px-3 nav-link" style="color:#FFF; cursor: pointer;"> <i
                    class="fas fa-heart m-1 me-md-2"></i>
                  <p class="d-none d-md-block mb-0">Wishlist</p>
                </a>
                  <a onclick="showPopup()" class=" py-1 px-3 nav-link" style="color: #FFF; cursor: pointer;"> <i
                    class="fas fa-shopping-cart m-1 me-md-2 "></i>
                  <p class="d-none d-md-block mb-0">My cart</p>
                </a>
  
                  <% } %>
            </div>
          </div>
          <!-- Center elements -->
  
          <!-- Right elements -->
          <div class="col-lg-5 mt-md-4 col-md-12 col-12">
            <form action="/our-store" method="get">
            <div class="input-group  float-center">
              <div class="form-outline bg-white" style="border-radius: 5px;">
                <input type="search" value="<%= searchQuery %>" id="form1" name="search" class="form-control" />
                <label class="form-label" for="form1">Search</label>
              </div>
              <button type="submit" class="btn btn-white shadow-0" style="background-color: #BF7DC1 ;">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
          </div>
          <!-- Right elements -->
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
    <div id="preloader"></div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white"  style="background-color: #756275 !important; font-size: 12px;">
      <!-- Container wrapper -->
      <div class="container justify-content-center justify-content-md-between">
        <!-- Toggle button -->
        <button class="navbar-toggler  py-2 text-white" type="button" data-mdb-toggle="collapse"
          data-mdb-target="#navbarLeftAlignExample" aria-controls="navbarLeftAlignExample" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
  
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- Navbar dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                data-mdb-toggle="dropdown" aria-expanded="false">
                SHOW CATEGORIES
              </a>
              <!-- Dropdown menu -->
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
                <% for(let i=0;i<catogories.length;i++){ %>
                  <li>
                    <a class="dropdown-item" style="background-color: #756275;" href="/our-store?search=<%= searchQuery %>&catFilter=<%= catogories[i].name %>"><%=catogories[i].name  %></a>
                  </li>
                  <% } %>
              </ul>
            </li>
  
            <li class="nav-item">
              <a class="nav-link text-white" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/our-store">OUR STORE</a>
            </li>
  
          </ul>
          <!-- Left links -->
        </div>
      </div>
      <!-- Container wrapper -->
    </nav>
  
    <!-- Navbar -->
  </header>

<!--Main Navigation-->

  
  <!-- sidebar + content -->
  <section class="">
    <div class="container">
      <div class="row">
        <!-- sidebar -->
        <div class="col-lg-3">
          <!-- Toggle button -->
          <button
                  class="btn btn-outline-secondary mb-3 w-100 d-lg-none"
                  type="button"
                  data-mdb-toggle="collapse"
                  data-mdb-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                  >
            <span>Show filter</span>
          </button>
          <!-- Collapsible wrapper -->
          <div class="collapse card d-lg-block mb-5" id="navbarSupportedContent">
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button
                          class="accordion-button text-dark bg-light"
                          type="button"
                          data-mdb-toggle="collapse"
                          data-mdb-target="#panelsStayOpen-collapseOne"
                          aria-expanded="true"
                          aria-controls="panelsStayOpen-collapseOne"
                          >
                    CATEGORIES
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                  <div class="accordion-body">
                    <ul class="list-unstyled">
                        <li><a href="/our-store?search=<%= searchQuery %>" class="text-dark">All</a></li>
                        <% for(let i=0; i < catogories.length; i++) { %>
                            <li>
                                <a href="/our-store?search=<%= searchQuery %>&catFilter=<%= catogories[i].name %>" class="text-dark">
                                    <%= catogories[i].name %>
                                </a>
                            </li>
                        <% } %>
                    </ul>                    
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                          class="accordion-button text-dark bg-light"
                          type="button"
                          data-mdb-toggle="collapse"
                          data-mdb-target="#panelsStayOpen-collapseThree"
                          aria-expanded="false"
                          aria-controls="panelsStayOpen-collapseThree"
                          >
                    Price
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree">
                    <form action="/our-store" method="get">
                        <div class="accordion-body">
                            <div class="range">
                                <input type="text" value="<%=searchQuery  %>" name="search" hidden>
                                <input type="text" value="<%=catFilter  %>" name="catFilter" hidden>
                              <!-- <input type="range" class="form-range" id="customRange1" /> -->
                            </div>
                            <div class="row mb-3">
                              <div class="col-6">
                                <p class="mb-0">
                                  Min
                                </p>
                                <div class="form-outline">
                                  <input type="number" value="<%=min?min:'' %>" name="min" id="typeNumber" class="form-control" />
                                  <label class="form-label" for="typeNumber">₹0</label>
                                </div>
                              </div>
                              <div class="col-6">
                                <p class="mb-0">
                                  Max
                                </p>
                                <div class="form-outline">
                                  <input type="number" value="<%=max?max:'' %>" name="max" id="typeNumber" class="form-control" />
                                  <label class="form-label"  for="typeNumber">₹00,000</label>
                                </div>
                                <% if(priceError){ %>
                                    <p style="color: red;">Maximum price must be greater than or equal to the minimum price.</p>
                                <% } %>
                              </div>
                            </div>
                            <button type="submit" class="btn btn-white w-100 border border-secondary">apply</button>
                          </div>
                    </form>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <!-- <button
                          class="accordion-button text-dark bg-light"
                          type="button"
                          data-mdb-toggle="collapse"
                          data-mdb-target="#panelsStayOpen-collapseFive"
                          aria-expanded="false"
                          aria-controls="panelsStayOpen-collapseFive"
                          >
                    Ratings
                  </button> -->
                </h2>
 
              </div>
            </div>
          </div>
        </div>
        <!-- sidebar -->
        <!-- content -->
        <div class="col-lg-9">
          <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
            <strong class="d-block py-2"><%= products.length %> Items found </strong>
            <div class="ms-auto">
              <!-- <select class="form-select d-inline-block w-auto border pt-1">
                <option value="0">Best match</option>
                <option value="1">Recommended</option>
                <option value="2">High rated</option>
                <option value="3">Randomly</option>
              </select> -->
              <!-- <div class="btn-group shadow-0 border">
                <a href="#" class="btn btn-light" title="List view">
                  <i class="fa fa-bars fa-lg"></i>
                </a>
                <a href="#" class="btn btn-light active" title="Grid view">
                  <i class="fa fa-th fa-lg"></i>
                </a>
              </div> -->
            </div>
          </header>

          <div class="row" style="min-height: max-content;">
            <% for(let i=0; i < products.length; i++) { %>
              <div class="col-lg-4 col-md-6 col-sm-6 d-flex" onclick="singlePrd('<%=products[i]._id%>')" style="cursor: pointer;">
                <div class="card w-100 my-2" style="box-shadow: 0 10px 36px rgba(0, 0, 0, 0.24);">
                    <div style="width: 100%; display: flex; justify-content: end;">
                        <p
                        style="position: absolute; text-align: end;margin-right: 10px; margin-top: 10px; font-size: 25px;">
                        <a href=""><i style="color: red;" class="fa-solid fa-heart"></i></a></p>                  
  
                    </div>
                    <div style="border: 50px white; width: 100%; display: flex; justify-content: center;">
                      <img src="primg/<%=products[i].prd_images[0]%>"
                        style=" aspect-ratio: 1 / 1; width: 190px; margin-top:30px;margin-bottom: 15px; height: 210px; object-fit: contain;"
                        class="card-img-top" />
                    </div>
                    <% var shortPname=products[i].pname.slice(0, 25); %>
                      <p style="margin-left: 15px; margin-bottom: -18px; opacity: .5;"><%=products[i].category  %></p>
                      <div class="card-body d-flex flex-column">
                        <h6 class="card-text" style="font-size: 17px;  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-left: -8px;">
                          <%=shortPname %>
                          <% if(shortPname.length>=22){ %>
                            ..
                            <% } %>
                        </h6>

                        <p class="card-text" style="margin-left: -8px; opacity: .7; margin-bottom: 6px;">
                        </p>
                        <h1>
                            <% var discount = products[i].discount %>
                            <% var Odiscount = products[i].price * discount / 100 %>
                            <% var showPrice= products[i].price-Odiscount %>
                        
                          <p class="card-text" style="margin-left: -8px; font-weight: bolder; font-size: 20px;"><%= new Intl.NumberFormat('en-IN', { style: 'currency', currency: 'INR', minimumFractionDigits: 0, maximumFractionDigits: 0 }).format(Math.floor(products[i].discountedPrice)) %>
                              <span
                                style="font-size: 10px; text-decoration: line-through; font-weight: bolder; opacity: .7;">₹<%=products[i].price %></span>
                          </p>

                          <% if(email){ %>
                          <a class="btn  shadow-0"
                          style="background-color: #392539;  font-weight: bolder; border-radius: 30px; height: 40px; margin-left: -15px; margin-bottom: -20px;">
                          <form  method="post" action="/checkout?prId=<%=products[i]._id %>" style="margin-top: -2px;">
                            <%let prPrice=Math.floor(showPrice)  %>
                            <input type="number" name="totalsum" value="<%=prPrice %>" hidden>
                            <button type="submit" style="background-color: #392539;border: none; color: white; font-size: 15px;  font-weight: 500;"> Buy
                              Now </button>
                          </form></a>
                          <% }else{ %>
                            <a class="btn  shadow-0" `
                            style="background-color: #392539;  font-weight: bolder; border-radius: 30px; height: 40px; margin-left: -15px; margin-bottom: -20px;" onclick="showPopup(); return false;">
                                <button type="button"  style="background-color: #392539;border: none; color: white; font-size: 15px;  font-weight: 500;"> Buy
                                  Now </button>
                              </form></a>
                            <% } %>
                        </h1>
                        <div
                          style="width: 100%;  display: flex; justify-content: end; height: aute; margin-bottom: -30; text-align: center;">
                          <p
                            style="margin-top: -20px; cursor: pointer;  font-family: 'Itim', cursive; font-size: 20px; margin-right: -12px; font-weight: 700; ">
                            M<span
                              style="font-family: 'Jockey One', sans-serif; color: green; font-weight: 400; font-size: 15px;">Assured</span>
                          </p>
                        </div>
                      </div>
                  </div>
           
            </div>
            <% } %>
            <% if(products.length==0){ %>
                <h1>No Products</h1>
                <% } %>
          </div>
               
          <hr/>
  
      
            <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
              <ul class="pagination">
                <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                  <a class="page-link" href="/our-store?page=<%= currentPage - 1 %>&search=<%= searchQuery %>&catFilter=<%=catFilter  %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
            
                <% for (let i = 1; i <= totalPages; i++) { %>
                  <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                    <a class="page-link" href="/our-store?page=<%= i %>&search=<%= searchQuery %>&catFilter=<%=catFilter  %>"><%= i %></a>
                  </li>
                <% } %>
            
                <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                  <a class="page-link" href="/our-store?page=<%= currentPage + 1 %>&search=<%= searchQuery %>&catFilter=<%=catFilter  %>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          <!-- Pagination -->
        </div>
      </div>
    </div>            
  </section>

  
  <div id="overlay"></div>
  <div id="popup">
    <div style="display: flex; width: 100%; justify-content: end;">
      <span style="font-size: 13px;" id="popup-close" onclick="closePopup()">✖ Close</span>
    </div>
    <p id="popup-message">Please login or register</p>
    <!-- Add login and register links or buttons here -->
    <a href="/login">
      <button id="login-button">Login</button>
    </a>
    <a href="/signup">
      <button id="register-button">Register</button>
    </a>
  </div>


  <script>
          function showPopup() {
              document.getElementById('overlay').style.display = 'block';
              document.getElementById('popup').style.display = 'block';
              // Set the error message in the popup
            
            }
          
            function closePopup() {
              document.getElementById('overlay').style.display = 'none';
              document.getElementById('popup').style.display = 'none';
            }
              
          var loader=document.getElementById("preloader");
                window.addEventListener("load",function(){
                  loader.style.display="none"
                })
  </script>



<style>
        #popup {
      border-radius: 6px;
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      background-color: #f8f8f8;
      border: 1px solid #ccc;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      max-width: 400px;
      width: 100%;
      text-align: center;
  }

  /* Styles for the overlay background */
  #overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 999;
  }

  /* Styles for the close button */
  #popup-close {
      cursor: pointer;
      margin-top: -15px;
      margin-right: -15px;

  }

  /* Styles for the login button */
  #login-button {
      cursor: pointer;
      margin-top: 20px;
      padding: 10px;
      background-color: #BF7DC1;
      color: white;
      border: none;
      border-radius: 5px;
  }
  #register-button{
    cursor: pointer;
      margin-top: 20px;
      padding: 10px;
      margin-left: 10px;
      background-color: #392539;
      color: white;
      border: none;
      border-radius: 5px;
  }
</style>
  <!-- sidebar + content -->
  
  <!-- Footer -->
  <footer class="text-center text-white"
  style="background: linear-gradient(180deg, #978699 -150.55%, rgb(24 2 27 / 90%) 80.99%);">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>


      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4 ">
              <input type="email" id="form5Example2" class="form-control" placeholder="Email"
                style="background-color: white; color: black;">


            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4 btn shadow-none"
              style="background-color: white; color: black;">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->

    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">


          <ul class="list-unstyled mb-0" style="line-height: 40px;">
            <li>
              <a href="#!" class="text-white">Mega Cart store</a>
            </li>
            <li>
              <a href="#!" class="text-white">No.976 Kozhikkode Kerala </a>
            </li>
            <li>
              <a href="#!" class="text-white">+91 9037317210</a>
            </li>
            <li>
              <a href="#!" class="text-white">megacartecommerce@gmail.com</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="line-height: 40px;">


          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Privacy And Policy</a>
            </li>
            <li>
              <a href="#!" class="text-white">Shipping Policy</a>
            </li>
            <li>
              <a href="#!" class="text-white">Terms and Services</a>
            </li>
            <li>
              <a href="#!" class="text-white">Blogs</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="line-height: 40px;">


          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Laptop</a>
            </li>
            <li>
              <a href="#!" class="text-white">Smartphone</a>
            </li>
            <li>
              <a href="#!" class="text-white">Speakers</a>
            </li>
            <li>
              <a href="#!" class="text-white">Watches</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="line-height: 40px;">


          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Search</a>
            </li>
            <li>
              <a href="#!" class="text-white">About us</a>
            </li>
            <li>
              <a href="#!" class="text-white">FAQ</a>
            </li>
            <li>
              <a href="#!" class="text-white">Contact Us</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->
  <hr class="hr hr-blurry" />
  <!-- Copyright -->

  <span style="opacity: .7; font-size: 13px; margin-bottom: 30px; margin-top: -30px;"> © 2023 Copyright:</span>

  <a class="text-white" href="/" style="opacity: .7; font-size: 12px;">MegaCart</a>



  <!-- Copyright -->
</footer>   
<script>
          function singlePrd(prId) {
            console.log('Sending request with prId:', prId);
          fetch('/setSession', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ prId }),
        })
        .then(() => {
          const productId = '/single/prd';
          window.location.href = productId;
        })
        .catch(error => {
          console.error('Error setting session:', error);
          // Handle the error as needed
        });
            }
</script>
  <!-- Footer -->
  <script src="https://kit.fontawesome.com/6bb7f02898.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>


    .icon-hover:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
}

.icon-hover:hover i {
  color: #3b71ca !important;
}
  </style>